*{margin:0; padding:0; box-sizing: border-box;
  background-color: black; font-family:calibri;}

.calculator-main{ 
    margin:10px; 
    width: 100%;
    height: 95vh;
    display: flex;
    flex-wrap:wrap;
    justify-self: center;
}

#pole-result{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 13vh;
    text-align: right;
    font-size: 40px;              
}

.buttons{
    width: 100%;
    height: 82vh;
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
}

.button{
    width: calc(25% - 5px);
    height: auto;
    border: 1px solid black;
    text-align: center;
    border-radius:50%;
    font-size: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.button:hover{
transform: scale(1.1);
opacity: 0.8;
}


/* начало */
@media(min-width: 0px){
    .calculator-main{ width: 88%;}

    .button{font-size: 35px;}
    
    #pole-result{ height:30vh;
        font-size: 70px;}

    .buttons{height:65vh;}
}


/* 530px и больше */
@media (min-width: 530px) {
    .calculator-main { width: 80%;}
    .button{font-size: 36px;} 
}

/*  600 пикс и больше */
@media(min-width: 600px){
    .calculator-main{ width:72%;}
    .button{font-size: 38px;}
}

/* 700px и больше */
@media (min-width: 700px) {
    .calculator-main {width: 65%;}
}

/* 800px и больше */
@media (min-width: 800px) {
    .calculator-main { width: 58%;}

    
}

/* 900px и больше */
@media (min-width: 900px) {
    .calculator-main {width: 50%;}
}

@media(min-width: 1000px){
    .calculator-main{width: 48%;}
}

@media(min-width: 1150px){
    .calculator-main{width:40%;}
}

@media(min-width: 1300px){
    .calculator-main{width: 32%;}
}